@font-face {
    font-family: "Martin Regular";
    src: url('lib/fonts/MARTIN-Regular.woff2');
    font-weight: regular;
  }

body, html {
    background-color: black;
    margin: 0;
    padding: 0;
}

* {
    color: white;
    font-family: 'Martin Regular';
    font-weight: normal;
}


header {
    display: flex;
    justify-content: flex-end;
    margin: 0 50px;
}

header h1 a {
    color: white;
    text-decoration: none;
    font-size: 1.8em !important;
}

div#center {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}


div#center h2 {
    color: white;
    font-size: 2.2em;
    margin: 0;
}

div#center #date {
    font-size: 4em
}


#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 50px;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;            /* Footer height */
}

#footer div#ticker{
    background-color: blue;
}

#footer div#ticker ul li {
    font-size: 3rem;
    padding-top: 5px;
}

img#unboundsplash {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 750px;
}